# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Unity Settings 
MON_Protocol/Assets/Settings/*RPAsset.asset
MON_Protocol/ProjectSettings/GraphicsSettings.asset
MON_Protocol/ProjectSettings/ShaderGraphSettings.asset

# Web / Node
node_modules/
dist/
build/

# Frontend Unity export


# Visual Studio
.vs/
*.csproj
*.sln
*.user

# Env
.env