/*@import '../../app';

#unity-canvas {
  width: 100%;
  aspect-ratio: 960 / 600; 
  background: #231F20;

  @include break(xs) {
    max-width: 768px;
  }

  @include break(xxs) {
    max-width: 480px;
  }

  :host{
    background-color: black;
  }
} */