<div class="nav">
<nav>
      <ul>
        <li><a [routerLink]="['/home']"><img src="titulo-white2.png" alt="logo"></a></li>
        <li><a [routerLink]="['/levels']">Nivells</a></li>
        <li><a [routerLink]="['/rankings']">Ranking</a></li>
        <li class="dropdown"> {{this.usuari}}
            <div>
                <div class="dropdown-content">
                    <button (click)="logout()">Tancar sessió</button>
                </div> 
            </div>
        </li>
        <!-- <li><button (click)="logout()">Tancar sessió</button></li> -->
      </ul>
    </nav>
</div>

